body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #40407a;
  direction: rtl;
  color: #f7f1e3;
}

h1 {
  color: #ff793f;
  text-align: center;
}